In [2]:
# 导入库
import pandas as pd

In [3]:
# 导入数据
#相对路径是相对这个文件而言的。
df = pd.read_csv('D:\Python\weibo.csv', header=None, names=['name', 'number', 'day'])#或者open('D:/Python/演员请就位2代码数据/数据/weibo.csv') 由于中文导致，可以解决       添加这个,engine='python'会导致乱码，不提倡，最好别用中文
df.head()

FileNotFoundError: File b'D:\\Python\\weibo.csv' does not exist

In [108]:
df.shape

(5699, 3)

In [109]:
from datetime import datetime

def transform_day(x): 
    x = '2020年' + x 
    date_format = datetime.strptime(x, '%Y年%m月%d日')
    return datetime.strftime(date_format, '%Y-%m-%d')

In [110]:
df['day'] = df.day.apply(transform_day)
df.head()

  name  number         day
0  陈凯歌  228473  2020-09-28
1  陈凯歌  144677  2020-09-29
2  陈凯歌   61491  2020-09-30
3  陈凯歌   24731  2020-10-01
4  陈凯歌  202344  2020-10-02

In [111]:
# 筛选数据
# df_sel = df[df['day'] >= '2020-10-02']
# df_sel.head()

In [112]:
df_resuluts = pd.pivot_table(data=df, 
                             index='name', 
                             columns='day', 
                             values='number', 
                             aggfunc='mean', 
                             fill_value=0
                            )
df_resuluts.head()

day,2020-09-28,2020-09-29,2020-09-30,2020-10-01,2020-10-02,2020-10-03,2020-10-04,2020-10-05,2020-10-06,2020-10-07,...,2020-10-27,2020-10-28,2020-10-29,2020-10-30,2020-10-31,2020-11-01,2020-11-02,2020-11-03,2020-11-04,2020-11-05
name,,,,,,,,,,,,,,,,,,,,,
丁程鑫,238743,331144,220502,684493,3258777,2945537,1093234,585431,868115,446744,...,818343,571132,598811,1210984,2075029,708423,480433,1076731,1338156,586131
任敏,9761,12676,248718,14828,355410,223394,80777,51645,17476,39750,...,66209,122077,34263,14465,379152,293338,61232,56378,103218,23827
何昶希,100651,50804,132123,21635,417763,63098,38307,124519,152095,37575,...,38039,84732,29340,22680,166695,121920,64487,72107,48046,244105
倪虹洁,50,2927,268390,4283,69572,301396,1331254,75671,26789,65648,...,33349,6326,7851,4125,18652,15977,27142,6790,11318,14303
刘芮麟,10534,3787,6080,2661,10249,3821,454,435,5792,13783,...,369,224247,20801,4412,30245,25098,14118,8101,3985,4925

In [113]:
#df_resuluts.to_csv('df_resuluts.csv') #所以这个会跟可视化动图在同一目录下

In [114]:
df = pd.read_csv('D:\Python\df_resuluts.csv')
df.head(5)

,name,2020-09-28,2020-09-29,2020-09-30,2020-10-01,2020-10-02,2020-10-03,2020-10-04,2020-10-05,2020-10-06,...,2020-10-27,2020-10-28,2020-10-29,2020-10-30,2020-10-31,2020-11-01,2020-11-02,2020-11-03,2020-11-04,2020-11-05
0,丁程鑫,238743,331144,220502,684493,3258777,2945537,1093234,585431,868115,...,818343,571132,598811,1210984,2075029,708423,480433,1076731,1338156,586131
1,任敏,9761,12676,248718,14828,355410,223394,80777,51645,17476,...,66209,122077,34263,14465,379152,293338,61232,56378,103218,23827
2,何昶希,100651,50804,132123,21635,417763,63098,38307,124519,152095,...,38039,84732,29340,22680,166695,121920,64487,72107,48046,244105
3,倪虹洁,50,2927,268390,4283,69572,301396,1331254,75671,26789,...,33349,6326,7851,4125,18652,15977,27142,6790,11318,14303
4,刘芮麟,10534,3787,6080,2661,10249,3821,454,435,5792,...,369,224247,20801,4412,30245,25098,14118,8101,3985,4925

In [115]:
x = list(df['name'])
x[:5]

['丁程鑫', '任敏', '何昶希', '倪虹洁', '刘芮麟']

In [116]:
#df.iloc[:,1:]
#df.iloc[:,2]
#len(df)

In [117]:
#构建列名-key，是不是可以用map  
data = []
for i in df[1:]:
    data.append(i)
data = data[1:]
# data[1]
#
datay = []
for i in range(1,40):
    datay.append(list(df.iloc[:,i]))
    #这里都是可以构建列表表达式的，代码还可以优化，现在很多方法还不会自主使用，需要回过头看看文档了

In [ ]:
data = [i for i in list(df)]
datay = [df.iloc[:,i] for i in range(1,40)]

In [118]:
# ylist = []
# for i in range(39):
#     y = {
#         data[i] : datay[i]
#     }
#     ylist.append(y)

In [120]:
import pyecharts.options as opts
from pyecharts.charts import Timeline, Bar
def get(date: int) -> Bar:
    bar = (
        Bar()
        .add_xaxis(xaxis_data=x)
        .add_yaxis(
            series_name="弹幕探讨次数",
            y_axis=datay[date],
            label_opts=opts.LabelOpts(is_show=False),
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(
                title="{}".format(data[date]), subtitle="人物被提及次数"
            ),
            # datazoom_opts=[opts.DataZoomOpts(), opts.DataZoomOpts(type_="inside"),],
            tooltip_opts=opts.TooltipOpts(
            is_show=True, trigger="axis", axis_pointer_type="shadow"
            ),
        )
    )
    return bar
# 生成时间轴的图
timeline = Timeline(init_opts=opts.InitOpts(width="1200px", height="600px"))

for i in range(39):
    timeline.add(get(date = i),time_point=str(data[i]))
# 1.0.0 版本的 add_schema 暂时没有补上 return self 所以只能这么写着
timeline.add_schema(is_auto_play=True, play_interval=1000,)
# timeline.render("wode.html")